<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${page}"></title>
	<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />
	<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script> 
</head>
<body onload="document.form.nama.focus();">

	<div th:include="header :: header"></div>
	<div class="container">
		<h3 th:text="${page}">Input Data Kas Keluar</h3>
		
		<div th:if="${pesan != null}">
			<div class="alert alert-success"><p th:text="${pesan}"></p></div>
		</div>
		
		<form id="form" action="#" th:object="${entity}" th:action="@{'/'+${page}+'/save.html'}" method="post" class="form-horizontal">
		
			<div class="form-group">
				<label for="noTransaksi" class="col-sm-2 control-label">No Transaksi</label>
				<div class="col-sm-5">
						<input type="text" id="noTransaksi" th:field="*{noTransaksi}" class="form-control" />
				</div>
			</div>
		<div class="form-group">
				<label for="tgl" class="col-sm-2 control-label">Tgl</label>
				<div class="col-sm-5">
						<input type="date" id="tgl" th:field="*{tgl}" class="form-control" />   
				</div>
		</div>
			
			<div class="form-group">
				<label for="penerima" class="col-sm-2 control-label">penerima</label>
				<div class="col-sm-5">
						<input type="text" id="penerima" th:field="*{penerima}" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label for="jumlah" class="col-sm-2 control-label">jumlah</label>
				<div class="col-sm-5">
						<input type="number" id="jumlah" th:field="*{jumlah}" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label for="keterangan" class="col-sm-2 control-label">Keterangan</label>
				<div class="col-sm-5">
						<input type="text" id="keterangan" th:field="*{keterangan}" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label for="giver" class="col-sm-2 control-label">giver</label>
				<div class="col-sm-5">
						<input type="text" id="giver" th:field="*{giver}" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label for="approver" class="col-sm-2 control-label">approver</label>
				<div class="col-sm-5">
						<input type="text" id="approver" th:field="*{approver}" class="form-control" />
				</div>
			</div> 
			
			<button type="submit" class="btn btn-success">
				<span class="glyphicon glyphicon-floppy-disk"></span> Simpan
			</button>
			<a href="#" th:href="@{'/'+${page}+'/form.html'}" class="btn btn-success">
				<span class="glyphicon glyphicon-refresh"></span> Reset
			</a>
			<a href="#" th:href="@{'/'+${page}+'/pages/1.html'}" class="btn btn-success">
				<span class="glyphicon glyphicon-list"></span> Data
			</a>
		
		</form>
		
	</div>

</body>
</html>