<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${page}"></title>
	<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />
	<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script> 
</head>
<body onload="document.form.noTelp.focus();">

	<div th:include="header :: header"></div>
	<div class="container">
		<h3 th:text="${page}">Input Data Peserta</h3>
		
		<div th:if="${pesan != null}">
			<div class="alert alert-success"><p th:text="${pesan}"></p></div>
		</div>
		
		<form id="form" action="#" th:object="${entity}" enctype="multipart/form-data"
			th:action="@{'/'+${page}+'/save.html'}" method="post" class="form-horizontal">
		
			<div class="form-group">
				<label for="noPeserta" class="col-sm-2 control-label">No Peserta</label>
				<div class="col-sm-5">
						<input type="text" id="noPeserta" th:field="*{noPeserta}" class="form-control" />
				</div>
			</div>
			
			<div class="form-group">
				<label for="nama" class="col-sm-2 control-label">Nama</label>
				<div class="col-sm-5">
						<input type="text" id="nama" th:field="*{nama}" class="form-control" />
				</div>
			</div>
			
			<div class="form-group">
				<label for="tempatLahir" class="col-sm-2 control-label">Tempat Lahir</label>
				<div class="col-sm-5">
						<input type="text" id="tempatLahir" th:field="*{tempatLahir}" class="form-control" />
				</div>
			</div>
			
			<div class="form-group">
				<label for="tglLahir" class="col-sm-2 control-label">Tgl Lahir</label>
				<div class="col-sm-5">
						<input type="date" id="tglLahir" th:field="*{tglLahir}" class="form-control" /> 
				</div>
			</div>
			
			<div class="form-group">
				<label for="wali" class="col-sm-2 control-label">Wali</label>
				<div class="col-sm-5">
						<input type="text" id="wali" th:field="*{wali}" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label for="alamat" class="col-sm-2 control-label">Alamat</label>
				<div class="col-sm-5">
						<input type="text" id="alamat" th:field="*{alamat}" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label for="noTelp" class="col-sm-2 control-label">No Telp</label>
				<div class="col-sm-5">
						<input type="text" id="noTelp" th:field="*{noTelp}" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label for="waktuWawancara" class="col-sm-2 control-label">Waktu Wawancaa</label>
				<div class="col-sm-5">
						<input type="text" id="waktuWawancara" th:field="*{waktuWawancara}" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label for="gelombang" class="col-sm-2 control-label">Gelombang</label>
				<div class="col-sm-5">
						<input type="text" id="noTelp" th:field="*{gelombang}" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label for="jalur" class="col-sm-2 control-label">Jalur</label>
				<div class="col-sm-5">
						<input type="text" id="jalur" th:field="*{jalur}" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label for="imageFoto" class="col-sm-2 control-label">Image Foto</label>
				<div class="col-sm-5">
						<input type="text" id="noTelp" th:field="*{imageFoto}" class="form-control" />
				</div>
			</div>
			
			
			<button type="submit" class="btn btn-success">
				<span class="glyphicon glyphicon-floppy-disk"></span> Simpan
			</button>
			<a href="#" th:href="@{'/'+${page}+'/form.html'}" class="btn btn-success">
				<span class="glyphicon glyphicon-refresh"></span> Reset
			</a>
			<a href="#" th:href="@{'/'+${page}+'/pages/1.html'}" class="btn btn-success">
				<span class="glyphicon glyphicon-list"></span> Data
			</a>
		
		</form>
		
	</div>

</body>
</html>