<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Template</title>
	<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />
	<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script> 
</head>
<body>

	<div th:include="header :: header"></div>
	<div class="container">
		<h3 th:inline="text">Input Data Tutorial</h3>
		
		<div th:if="${pesan != null}">
			<div class="alert alert-success"><p th:text="${pesan}"></p></div>
		</div>
		
		<form action="#" th:object="${tutorial}" enctype="multipart/form-data"
			th:action="@{/tutorial/save.html}" method="post" class="form-horizontal">
		
			<div class="form-group">
				<label for="judul" class="col-sm-2 control-label">Judul</label>
				<div class="col-sm-5">
						<input type="text" th:field="*{judul}" class="form-control" />
				</div>
			</div>
			
			<div class="form-group">
				<label for="file" class="col-sm-2 control-label">File PDF</label>
				<div class="col-sm-5">
					<input type="file" name="file" accept="application/pdf" class="form-control"  />
				</div>
			</div> 
			<button type="submit" class="btn btn-success">
				<span class="glyphicon glyphicon-floppy-disk"></span> Simpan
			</button>
			<a href="#" th:href="@{/tutorial/form.html}" class="btn btn-success">
				<span class="glyphicon glyphicon-refresh"></span> Reset
			</a>
			<a href="#" th:href="@{/tutorial/pages/1.html}" class="btn btn-success">
				<span class="glyphicon glyphicon-list"></span> Data
			</a>
		
		</form>
		
	</div>

</body>
</html>